/saveData/
/messages.db
/resource/
/voice/
/logs/
/tos.json
/img.json
/mimovoice/
/music/
/crontab.json
/localvoice.json
/volcanovoice.json
/agents.json
/loras.json
/reference_image.json
/painter_images/
